
<div id="form" [formGroup]="createPostForm">
  <label for="label" class="required">Libellé</label>
  <input id="label" type="text" formControlName="label"/>
    <div class="alert-error" *ngIf="createPostForm.controls['label'].errors && (createPostForm.controls['label'].touched || createPostForm.controls['label'].dirty)">
      Libellé obligatoire
    </div>
  <label for="theme" class="required">Thème</label>
  <input id="theme" type="text" formControlName="theme"/>
  <div class="alert-error" *ngIf="createPostForm.controls['theme'].errors && (createPostForm.controls['theme'].touched || createPostForm.controls['theme'].dirty)">
      Thème obligatoire
  </div>
  <label>Type de Poste</label>
  <div class="form-check-container">
    <div class="form-check">
      <input type="radio" class="form-check-input" id="radio1" name="isArticle" value="true" formControlName="isArticle" checked>Avec article
      <label class="form-check-label" for="radio1"></label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="radio2" name="isArticle" formControlName="isArticle" value="false">Sans Article
      <label class="form-check-label" for="radio2"></label>
    </div>
  </div>
  <label for="maxLength" class="required">Longueur maximum du poste</label>
  <input id="maxLength" type="number" formControlName="maxLength"/>
  <div class="alert-error" *ngIf="createPostForm.controls['maxLength'].errors && (createPostForm.controls['maxLength'].touched || createPostForm.controls['maxLength'].dirty)">
      Longueur maximum obligatoire
  </div>
  <label>Tonalité du poste</label>
  <div class="form-check-container">
    <div class="form-check">
      <input type="radio" class="form-check-input" id="Professionel" name="tonality" value="Professionel" formControlName="tonality" checked>Professionelle
      <label class="form-check-label" for="radio1"></label>
    </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" id="Amicale" name="tonality" value="Amicale" formControlName="tonality" >Amicale
    <label class="form-check-label" for="radio2"></label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" name="tonality" formControlName="tonality" value="formelle">Formelle
    <label class="form-check-label"></label>
  </div>
  </div>
  <label>Hashtags (Séparé par des ; )</label>
  <input type="text" formControlName="hashtags">
  <button [class.loader]="isLoading" id="submit" (click)="generatePost()">Soumettre</button>
</div>

