/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: auto;
  font-family: "Helvetica Neue", sans-serif;

}
body { margin: 0; }

.alert-error{
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.required:after{
  margin-left: 2px;
  content:"*";
  color: #900a0a;
  font-size: 0.9rem;
  font-weight:bold;
}

